/* Link For Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600;1,700&display=swap");

:root {
  --orange: rgb(253, 126, 0);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
}
body::-webkit-scrollbar {
  width: 10px;
  background: #555;
}
body::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 2rem;
}
*::selection {
  background: var(--orange);
  color: #fff;
}
html {
  font-size: 70%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  position: relative;
  overflow: hidden;
}
section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #333;
}
.btn:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 4px 5px rgba(0, 0, 0, 0.6);
  background: orangered;
  border-color: #fff;
}
.heading {
  text-align: center;
  padding: 2.5rem 0;
}
.heading span {
  font-size: 3.5rem;
  background: rgba(255, 167, 4, 0.5);
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.heading .space {
  background: none;
}
/* ---------------Header Section Styling---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  margin-left: -3rem;
}
header .logo span {
  color: var(--orange);
  text-transform: uppercase;
}
/* ----------Nevbar Section Styling */
header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.6rem;
  transition: 0.5s;
  cursor: pointer;
}
header .navbar a:hover {
  color: var(--orange);
}
header .icons i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover {
  color: var(--orange);
}
header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.5rem;
  border-radius: 6px;
}
header .search-bar-container label {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-left: 1.5rem;
  transition: 0.5s;
}
header .search-bar-container label:hover {
  color: var(--orange);
}
header #menu_bar {
  font-size: 2.5rem;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border: 0.1rem solid var(--orange);
  border-radius: 0.5rem;
  display: none;
}
header #menu_bar:hover {
  color: var(--orange);
  box-shadow: 0 6px 10px rgba(246, 123, 0, 0.3);
  border-color: #fff;
}

/* -----------Login form Styling------- */
.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;
  transition: 0.5s;
}
.active {
  top: 0;
  transition: 0.5s;
}
.login_remove {
  top: -120%;
}
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}
.login-form-container form h3 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--orange);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box {
  width: 100%;
  height: 40px;
  background: rgb(217, 214, 214);
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 0.2rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}
.login-form-container form .box:focus {
  border-color: var(--orange);
}
.login-form-container form #remember {
  margin: 2rem 0rem;
  margin-right: 0.5rem;
}
.login-form-container form label {
  font-size: 1.7rem;
  font-weight: 600;
}
.login-form-container form .btn {
  display: block;
  width: 100%;
}
.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}
.login-form-container form p a {
  color: var(--orange);
  transition: 0.5s;
}
.login-form-container form p a:hover {
  color: orangered;
  text-decoration: underline;
}
.login-form-container #form-close {
  font-size: 2.9rem;
  top: 2rem;
  right: 3rem;
  color: #fff;
  position: absolute;
}
.login-form-container #form-close:hover {
  color: var(--orange);
}

/* --------------Home Section Styling------------ */
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  color: #fff;
}
.home .content p {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.5rem 0;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  color: #fff;
}
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}
.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}
.home .controls .vid-btn.active {
  background: var(--orange);
}

/* Book section Start */
.book .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.book .row .images {
  flex: 1 1 40rem;
}
.book .row .images img {
  width: 100%;
}
.book .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.book .row form .imputBox {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.book .row form .imputBox h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 0;
}
.book .row form .imputBox input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  color: #222;
  border: 1px solid #999;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background: rgb(213, 209, 209);
  border-radius: 0.4rem;
}
.book .row form .imputBox input:focus {
  outline-color: var(--orange);
  border-color: var(--orange);
}
/* packages section Start */
.packages .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.packages .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(206, 202, 202);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.packages .box-container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.packages .box-container .box .content {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.packages .box-container .box .content h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.packages .box-container .box .content h3 i {
  font-size: 2.2rem;
  color: var(--orange);
  padding-right: 0.5rem;
}
.packages .box-container .box .content p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-align: justify;
  padding: 1rem 0;
}
.packages .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 1rem 0;
}
.packages .box-container .box .content .price {
  padding: 1rem 0;
  font-size: 1.9rem;
  font-weight: 600;
  color: black;
  margin-right: 12rem;
}
.packages .box-container .box .content .price span {
  color: var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

/* Services Sections styling*/
.services {
  background: rgb(235, 226, 226);
}
.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.services .box-container .box {
  flex: 1 1 30rem;
  padding: 1.5rem;
  border: 1px solid #999;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.services .box-container .box i {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
  border: 2px solid rgb(100, 98, 98);
  border-radius: 50%;
  padding: 2rem;
  background: var(--orange);
  inset: 0.5rem;
  transition: 0.5s linear;
}
.services .box-container .box:hover i {
  transform: rotate(360deg);
  background: #555;
  color: var(--orange);
  border-color: var(--orange);
}
.services .box-container .box h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 0;
  text-align: center;
}
.services .box-container .box p {
  font-size: 1.7rem;
  font-weight: 500;
  color: #333;
}

/* Gallery section styling */
.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gallery .box-container .box {
  overflow: hidden;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border: 1rem solid rgb(59, 58, 58);
  border: 0.5rem;
  flex: 1 1 30rem;
  height: 25rem;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
  transition: 0.5s;
}
.gallery .box-container .box:hover .content {
  top: 0%;
  cursor: pointer;
}
.gallery .box-container .box .content h3 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--orange);
  padding: 1rem 0;
}
.gallery .box-container .box .content p {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(226, 222, 222);
}
.gallery .box-container .box .content .btn {
  margin-top: 1rem;
}
/* --------review section styling0--- */
.review .review-slider {
  padding-bottom: 2rem;
}
.review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border: 2px solid #555;
  border-radius: 0.5rem;
  cursor: pointer;
}
.review .box img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.review .box h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--orange);
  padding: 1rem 0;
}
.review .box p {
  font-size: 1.9rem;
  font-weight: 500;
  color: black;
  padding: 1rem 0;
}
.review .box .stars {
  font-size: 2rem;
  color: var(--orange);
  padding: 1rem 0;
}

/* COntact Section Start */
.contact {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  margin-bottom: 10rem;
}
.contact > .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}
.contact > .container > .image {
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.4);
}
.contact > .container > .image > img {
  width: 100%;
  object-fit: fill;
}
.container > .contactForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem 1rem;
}
.contactForm > input {
  width: 100%;
  height: 5rem;
  background: #ddd;
  padding: 0rem 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
}
.contactForm > textarea {
  width: 100%;
  height: 14rem;
  background: #ddd;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  resize: none;
}
.contactForm > textarea::-webkit-scrollbar {
  display: none;
}
.contactForm > input::placeholder,
.contactForm > textarea::placeholder {
  color: #333;
}
.contactForm > input:focus,
.contactForm > textarea:focus {
  background: pink;
}
.contactForm > .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.contactForm > .icons > a {
  text-decoration: none;
}
.icons > a > i {
  font-size: 4rem;
}
.icons > a > i:hover {
  transform: scale(1.2);
}
.icons > a > i:active {
  transform: scale(0.98);
}
.contactForm > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.footer > marquee > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.footer > marquee > h3 > span {
  color: orangered;
  font-size: 1.6rem;
}
/* -------------Media Queries -----------*/
@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 992px) {
  header {
    padding: 2rem 4rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 842px) {
  #menu_bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid #555;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
    font-size: 2.5rem;
  }
  header #menu_bar {
    display: block;
  }
}

@media (max-width: 495px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  .login-form-container form {
    width: 40rem;
  }
  .heading span {
    font-size: 2.5rem;
  }
}
